.click{
 background-color: rgb(225,5,5); /* Dark Red */
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 30px; /* Slight bend */
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}
.click:hover{
    background-color: #a91919
}
.click:active{
   background-color: #FF0000;
}
.rectangle {
    width: 200px;      
    height: 100px;  
    margin-left: 10px; 
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
}
h1{
    position:fixed;
    top:200px;
    left:80px;
}
.red-box {
    width: 200px;
    height: 100px;
    background-color: red;
    color: black;       /* Text color */
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.black-box {
    width: 200px;
    height: 100px;
    background-color: black;
}
.blue-box {
    width: 200px;
    height: 100px;
    background-color: blue;
}